.card {
  position: absolute;
  width: 95%;
  height: 80%;
  box-shadow: 0px 0px 5px gray;
  left: 2.5%;
  top: 5%;
}
#chat-form {
  position: absolute;
  top: 90%;
  transform: translateY(-90%);
  left: 50%;
  transform: translateX(-50%);
}
#messages {
  padding-bottom: 10%;
  padding-left: 20px;
  padding-top: 20px;
  max-height: 80%;
  overflow: auto;
}
#chat-form input {
  width: 400px;
  padding-right: 20%;
}
#chat-form button {
  position: absolute;
  left: 85%;
}
#profile {
  position: absolute;
  top: 20px;
  left: 20px;
}