<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{% include 'components/head.html' %}
<script>
  $(document).ready(function () {
    const answerText = [
      'answer-text-0',
      'answer-text-1',
      'answer-text-2'
    ];

    function editAnswer(index) {
      const value = answerText[index];
      const textValue = document.getElementById(value).textContent;
      const textArea = document.getElementById('customer-support-text-area');
      textArea.value = textValue;
      document.getElementById('multichoice-panel').classList.add('visually-hidden');
      console.log(textValue);
    }

    function sendAnswer(index) {
      const value = answerText[index];
      const textValue = document.getElementById(value).textContent;

      data = {
        sender: "Customer Support",
        message: textValue,
      };

      socket.send(JSON.stringify(data));
      document.getElementById('multichoice-panel').classList.add('visually-hidden');
    }

    function closeEdit() {
      document.getElementById('multichoice-panel').classList.add('visually-hidden');
    }

    document.getElementById("edit-button-0").addEventListener('click', event => {
      editAnswer(0);
    });
    document.getElementById("edit-button-1").addEventListener('click', event => {
      editAnswer(1);
    });
    document.getElementById("edit-button-2").addEventListener('click', event => {
      editAnswer(2);
    });
    document.getElementById("send-button-0").addEventListener('click', event => {
      sendAnswer(0);
    });
    document.getElementById("send-button-1").addEventListener('click', event => {
      sendAnswer(1);
    });
    document.getElementById("send-button-2").addEventListener('click', event => {
      sendAnswer(2);
    });
    document.getElementById("edit-button-close").addEventListener('click', event => {
      closeEdit();
    });

    var current_user = 'Customer Support';
    var receiver = "";
    // create websocket

    var socket = new WebSocket("ws://127.0.0.1:8000/api/chat/Customer Support");
    socket.onmessage = function (event) {
      var parent = $("#messages");
      var data = JSON.parse(event.data);
      var sender = data["sender"];
      if (sender === current_user) sender = "You";
      var content =
        "<p><strong>" +
        sender +
        ": </strong> <span> " +
        data['message'] +
        "</span></p>";

      let message = undefined;
      if (data['type'] === 'multichoice') {
        const panel = document.getElementById('multichoice-panel');

        const questions = [
          data['messages'][0]['question'],
          data['messages'][1]['question'],
          data['messages'][2]['question']
        ];

        for (let i = 0; i < 3; i++)
          document.getElementById(answerText[i]).textContent = questions[i];

        panel.classList.remove('visually-hidden');
      }
      else {
        message = data["message"];
        parent.append(content);
      }
    };
    $("#chat-form").on("submit", function (e) {
      e.preventDefault();
      var message = $("textarea").val();
      if (message) {
        data = {
          sender: current_user,
          message: message,
        };
        socket.send(JSON.stringify(data));
        $("textarea").val("");
      }
    });
  });
</script>

<body>
  <div class="chat-body card">
    <div class="card-body h-100">
      <strong id="profile"></strong>
      <h4 class="card-title text-center">Customer Support's Chat View</h4>
      <hr />
      <div id="messages"></div>
      <div id="multichoice-panel" class="visually-hidden">
        <div style='background-color: #FFD; margin-bottom: 5px'>
          <button class="btn btn-danger" id="edit-button-close">
            <span class="material-symbols-outlined" class="send-buttons">close</span>
          </button>
        </div>
        <div style='background-color: #FFD; margin-bottom: 5px'>
          <button class="btn btn-primary" id="edit-button-0">
            <span class="material-symbols-outlined" class="send-buttons">edit</span>
          </button>
          <button class="btn btn-success" id="send-button-0">
            <span class="material-symbols-outlined" class="send-buttons">send</span>
          </button>
          <span id="answer-text-0">ABC</span>
        </div>
        <div style='background-color: #FFD; margin-bottom: 5px'>
          <button class="btn btn-primary" id="edit-button-1">
            <span class="material-symbols-outlined" class="send-buttons">edit</span>
          </button>
          <button class="btn btn-success" id="send-button-1">
            <span class="material-symbols-outlined" class="send-buttons">send</span>
          </button>
          <span id="answer-text-1">ABC</span>
        </div>
        <div style='background-color: #FFD; margin-bottom: 5px'>
          <button class="btn btn-primary" id="edit-button-2">
            <span class="material-symbols-outlined" class="send-buttons">edit</span>
          </button>
          <button class="btn btn-success" id="send-button-2">
            <span class="material-symbols-outlined" class="send-buttons">send</span>
          </button>
          <span id="answer-text-2">ABC</span>
        </div>
      </div>
      <form class="form-floating w-100 align-items-center" id="chat-form">
        <textarea type="text" class="form-control" id="customer-support-text-area"
          placeholder="Write your message"></textarea>
        <button id="send" type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
</body>

</html>